@font-face {
    font-family: 'Bayon';
    src: url('Bayon-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #FFF7EF;
    font-family: 'Bayon', sans-serif;
    margin: 1em;
    padding: 1em; /* Remove padding to prevent horizontal overflow */
    overflow-x: hidden; /* Prevent horizontal scrolling */
  }

p, li {
    font-family: 'Karla', sans-serif;
}

.main-header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 1em 0;
}

.main-header h1 {
    font-size: 3em;
    margin: 0;
    padding-left: 60px;
    text-align: center;
    flex-grow: 1;
}

.home-link {
    position: absolute;
    left: 1%;
    top: 50%;
    transform: translateY(-50%);
}

.home-link img {
    width: 50px;
    height: auto;
}

.project-container {
    margin: 2em 0;
}

.project-images, .figma-embed {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(40%, 1fr));
    gap: 20px;
    justify-content: center;
}

.project-images img, .figma-embed iframe {
    width: 100%;
    height: 300px; /* Fixed height for images and iframes */
    object-fit: cover; /* Only applies to images, ensures content covers the area */
    border: none;
}


.project-link a {
    color: #000;
    text-decoration: none;
    font-weight: bold;
}

.project-videos {
    position: relative;
    width: 100%;
    max-width: 600px; /* This should be the same width as your images */
    margin: 0 auto;
    overflow: hidden;
}

.project-videos video {
    width: 100%; /* Video takes the full width of its container */
    height: 300px; /* Fixed height, same as the images */
    object-fit: cover; /* Ensures the video covers the area, similar to the images */
}

footer {
    padding: 1em 0;
    background-color: #FFF7EF;
    text-align: center;
    color: #E4DBC8;
}

@media screen and (max-width: 900px) {
    .main-header h1 {
        font-size: 2.5em;
        padding-left: 40px;
    }

    .home-link img {
        width: 40px;
    }

    .project-images, .figma-embed {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(60%, 1fr));
        gap: 20px;
        justify-content: center;
    }
}

@media screen and (max-width: 600px) {
    .main-header h1 {
        font-size: 2em;
        padding-left: 30px;
    }

    .home-link img {
        width: 30px;
    }

    .project-images, .figma-embed {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(60%, 1fr));
        gap: 20px;
        justify-content: center;
    }
}

.project-videos[id^="mobileVideo"] {
    display: none;
}

@media screen and (max-width: 768px) {
    .project-videos[id^="desktopVideo"] {
        display: none;
    }
    .project-videos[id^="mobileVideo"] {
        display: block;
    }
}

.view-website-button {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px 0;
    background-color: #c6c6c6; /* Example color */
    color: rgb(0, 0, 0);
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.view-website-button:hover {
    background-color: #8c8c8c; /* Darker shade for hover effect */
}

.pdf-link {
    color: #c6c6c6; /* Example link color */
    text-decoration: underline;
}

.pdf-link:hover {
    color: #8c8c8c; /* Darker color on hover */
}
